body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#weatherDiv {
    width: 15%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#btnSubmit {
    margin-top: 20px;
    align-self: center;
    width: fit-content;
}

#msg {
    color: red; 
    font-size: small;
    font-weight: 600;
    text-align: center;
}

.topTable tr th {
    text-align: left;
}