body {
    
}

#mainDiv {
    width: 100;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.tableDiv {
    max-width: 15%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.btn {
    margin-top: 20px;
    align-self: center;
    width: fit-content;
}

.msg {
    color: red; 
    font-size: small;
    font-weight: 600;
    text-align: center;
}

.mainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.weatherTable {
    margin-bottom: 14px;  
    border-bottom: 1px solid black;
    text-align: center;     
}
.weatherTable tr :first-child {
    text-align: left;
}
.timezoneTable {
    text-align: center;
}
.timezoneTable tr :first-child {
    text-align: left;
}

.loading {
    display: none;
    text-align: center;
}